body{
    background-color: rgb(114, 114, 114) !important;
    font-family: 'Gotu', sans-serif !important;
}
.no-account{
    font-size: 70%;
    color:rgb(116, 31, 31);
    text-align: end;
}

.right-block{
    padding-top: 7%;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    display: grid;
    grid-template-rows: min-content min-content auto
}
.right-block h1{
    font-family: 'Dancing Script', cursive;
}
.right-block label{
    font-size: 70%
}
.right-block input{
    font-size: 80%;
    width: 20vw;
    border: 1px solid rgb(157, 157, 157);
    border-top:0;
    border-right:0;
    border-left:0;
}

.right-block p{
    margin-top: 10%;
    margin-bottom: 5%;
}

.border-input{
    border-bottom: 0px !important;
}
