@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Playfair+Display&display=swap');

h1{
    font-family: 'Marck Script';
    text-align: center;
}
body{
    font-family: 'Playfair Display', serif;
}
#grid-block{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
}
#fill-form div{
    margin-bottom: 20px;
}
button{
    border-radius: 9px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
input[type="number"] {
    width: 190px
}
#appearing-block{
    display: none;
}
#changing-table{
    width: 80%;
    text-align: center;
    margin: 20px auto;
}
td{
    height: 40px;
}