.button{
    width: 10%;
    background-color: #FFFBA5;
    color:black;
    margin: 30px 30px;
    padding: 10px 30px;
    border:0px;
    border-radius: 10px;
    font-size: 80%;
    font-family: 'Gotu', sans-serif;
}
.button:hover{
    color: #FFFBA5;
    background-color: black;
}

.buttons{
    display: flex;
    justify-content: center;
    font-size: 110%;
}
.buttons button{
    width: fit-content;
}

img{
    display: flex;
    margin: auto;
    margin-top: 20px;
}